<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WhatWouldBillDo.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>9</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4CC67D2D98D6620C315483335CB635412E7AA25F</string>
				<key>dateExpires</key>
				<string>3/31/27</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4CC67D2D98D6620C315483335CB635412E7AA25F</string>
						<key>dateExpires</key>
						<string>3/31/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>7BW79QC9WM.com.whatwouldbilldo.app.widget</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>7BW79QC9WM</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.whatwouldbilldo.app.shared</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>WhatWouldBillDoWidget.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>08c4deb6-0f3d-48c9-a42a-6bc49a8aeea6</string>
						<key>dateExpires</key>
						<string>3/31/27</string>
						<key>name</key>
						<string>iOS Team Store Provisioning Profile: com.whatwouldbilldo.app.widget</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7BW79QC9WM</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7BW79QC9WM.com.whatwouldbilldo.app</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>7BW79QC9WM</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.whatwouldbilldo.app.shared</string>
				</array>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>WhatWouldBillDo.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b176e842-1400-4491-90b7-a0dcb524919b</string>
				<key>dateExpires</key>
				<string>3/31/27</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.whatwouldbilldo.app</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7BW79QC9WM</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
